In [ ]:
import pandas as pd
import psycopg2
import os

In [ ]:
conn = psycopg2.connect(
        host = "proyecto-final-henry.ctv6lgil6x7r.us-east-1.rds.amazonaws.com",
        port = 5432,
        user = "postgres",
        password = "lorussoasoc",
        database = "lorussoasoc"
    )

In [ ]:
conn.autocommit = True

In [ ]:
query = """
SELECT a.id_pais PAIS, a.year ANIO, paises.longitude LONG, paises.latitude LAT, paises.incomelevel "NIVEL INGRESOS",
	a.agua "ACCESO AGUA", 
	b.acceso_electricidad "ACCESO ELECTRICIDAD", 
	c.agotamiento_recursos "AGOTAMIENTO RECURSOS",
	d.alfabetizacion "ALFABETIZACION",
	e.anios_escolares "ANIOS ESCOLARIDAD",
	f.camas_hospitales "CAMAS HOSPITALES",
	g.alcohol "CONSUMO ALCOHOL",
	h.densidad_poblacion "DENSIDAD POBLACION",
	i.desempleo "DESEMPLEO",
	j.emisiones_co2 "EMISIONES CO2",
	k.fuerza_laboral "FUERZA LABORAL",
	l.gini "GINI",
	m.ingreso_medio_pc "INGRESO MEDIO PC",
	n.desarrollo "INVERSION DESARROLLO",
	o.inversion_educacion "INVERSION EDUCACION",
	p.salud "INVERSION SALUD",
	q.obesidad "OBESIDAD",
	r.pib "PIB",
	s.poblacion "POBLACION",
	t.produccion_alimentos "PRODUCCION ALIMENTOS",
	u.renta_recursos "RENTA RECURSOS",
	v.srv_sanit_bas "SERV SANITARIOS",
	w.industria "INDUSTRIA"
FROM tbl_acceso_agua_potable a

LEFT JOIN tbl_paises paises
ON a.id_pais = paises.id_pais

LEFT JOIN tbl_acceso_electricidad b
ON a.id_pais = b.id_pais AND a.year = b.year

LEFT JOIN tbl_agotamiento_recursos_naturales c
ON a.id_pais = c.id_pais AND a.year = c.year

LEFT JOIN tbl_alfabetizacion_porc d
ON a.id_pais = d.id_pais AND a.year = d.year

LEFT JOIN tbl_anios_medios_escolaridad e
ON a.id_pais = e.id_pais AND a.year = e.year

LEFT JOIN tbl_camas_hospitales f
ON a.id_pais = f.id_pais AND a.year = f.year

LEFT JOIN tbl_consumo_alcohol g
ON a.id_pais = g.id_pais AND a.year = g.year

LEFT JOIN tbl_densidad_poblacion h
ON a.id_pais = h.id_pais AND a.year = h.year

LEFT JOIN tbl_desempleo_fl i
ON a.id_pais = i.id_pais AND a.year = i.year

LEFT JOIN tbl_emisiones_co2 j
ON a.id_pais = j.id_pais AND a.year = j.year

LEFT JOIN tbl_fuerza_laboral k
ON a.id_pais = k.id_pais AND a.year = k.year

LEFT JOIN tbl_gini l
ON a.id_pais = l.id_pais AND a.year = l.year

LEFT JOIN tbl_ingreso_medio_pc m
ON a.id_pais = m.id_pais AND a.year = m.year

LEFT JOIN tbl_inversion_desarrollo n
ON a.id_pais = n.id_pais AND a.year = n.year

LEFT JOIN tbl_inversion_educacion o
ON a.id_pais = o.id_pais AND a.year = o.year

LEFT JOIN tbl_inversion_salud p
ON a.id_pais = p.id_pais AND a.year = p.year

LEFT JOIN tbl_obesidad q
ON a.id_pais = q.id_pais AND a.year = q.year

LEFT JOIN tbl_pib r
ON a.id_pais = r.id_pais AND a.year = r.year

LEFT JOIN tbl_poblacion s
ON a.id_pais = s.id_pais AND a.year = s.year

LEFT JOIN tbl_produccion_alimentos t
ON a.id_pais = t.id_pais AND a.year = t.year

LEFT JOIN tbl_renta_recursos_naturales u
ON a.id_pais = u.id_pais AND a.year = u.year

LEFT JOIN tbl_srv_sanit_bas v
ON a.id_pais = v.id_pais AND a.year = v.year

LEFT JOIN tbl_valor_industria w
ON a.id_pais = w.id_pais AND a.year = w.year

"""

In [ ]:
cursor = conn.cursor()
cursor.copy_expert(query_paises, open(csv_paises, "r"))
print("tbl_paises cargada")