In [2]:
import wbgapi as wb
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

#Definimos la lista con los pa√≠ses miembros de la OEA
paises = ['ATG','ARG','BRB','BLZ','BOL','BRA','CAN','CHL','COL','CRI','CUB','DMA','DOM','ECU','SLV','GRD','GTM','GUY','HTI','HND','JAM','MEX','NIC','PAN','PRY','PER','KNA','LCA','VCT','SUR','BHS','TTO','USA','URY','VEN'] 

conn_string = 'postgresql+psycopg2://postgres:admin@localhost/esperanza'
engine = create_engine(conn_string)

## tbl_paises

In [9]:
#Extraemos listado de paises de wb
tbl_paises = wb.economy.DataFrame()
tbl_paises.reset_index(inplace=True)
tbl_paises = tbl_paises[['id','name']]
tbl_paises.columns=['id_pais','pais']
tbl_paises = tbl_paises[tbl_paises['id_pais'].isin(paises)]
tbl_paises.reset_index(inplace=True,drop=True)
tbl_paises.to_csv('tbl_paises.csv')

In [10]:
tbl_paises

   id_pais                            pais
0      ARG                       Argentina
1      ATG             Antigua and Barbuda
2      BHS                    Bahamas, The
3      BLZ                          Belize
4      BOL                         Bolivia
5      BRA                          Brazil
6      BRB                        Barbados
7      CAN                          Canada
8      CHL                           Chile
9      COL                        Colombia
10     CRI                      Costa Rica
11     CUB                            Cuba
12     DMA                        Dominica
13     DOM              Dominican Republic
14     ECU                         Ecuador
15     GRD                         Grenada
16     GTM                       Guatemala
17     GUY                          Guyana
18     HND                        Honduras
19     HTI                           Haiti
20     JAM                         Jamaica
21     KNA             St. Kitts and Nevis
22     LCA                       St. Lucia
23     MEX                          Mexico
24     NIC                       Nicaragua
25     PAN                          Panama
26     PER                            Peru
27     PRY                        Paraguay
28     SLV                     El Salvador
29     SUR                        Suriname
30     TTO             Trinidad and Tobago
31     URY                         Uruguay
32     USA                   United States
33     VCT  St. Vincent and the Grenadines
34     VEN                   Venezuela, RB

In [ ]:
#Insertamos en BD
tbl_paises.to_sql('tbl_paises',engine, if_exists='replace',index=False)

## tbl_esperanza_vida

In [6]:
tbl_esperanza_vida = pd.read_csv('Datasets/EsperanzaNacionesUnidas.csv')

tbl_esperanza_vida = tbl_esperanza_vida[['Time','Iso3','Value']]
tbl_esperanza_vida.columns = ['Year', 'id_pais', 'edvan']
tbl_esperanza_vida = tbl_esperanza_vida[tbl_esperanza_vida['id_pais'].isin(paises)]
tbl_esperanza_vida.reset_index(inplace=True,drop=True)

tbl_esperanza_vida.to_csv('tbl_esperanza_vida.csv')

In [ ]:
#Insertamos en BD
tbl_esperanza_vida.to_sql('tbl_esperanza_vida',engine, if_exists='replace',index=False)

## tbl_poblacion

In [84]:
tbl_poblacion = wb.data.DataFrame('SP.POP.TOTL',paises, range(1970, 2023), 
                  index='time', numericTimeKeys=True, labels=True)
tbl_poblacion = tbl_poblacion.sort_values(by=['Time'], ascending=True)

#Insertamos en BD
tbl_poblacion.to_sql('tbl_poblacion',engine, if_exists='replace',index=False)

52

## tbl_alfabetizacion_porc

In [86]:
tbl_alfabetizacion_porc = wb.data.DataFrame('SE.ADT.LITR.ZS',paises, range(1970, 2023), 
                  index='time', numericTimeKeys=True, labels=True)
tbl_alfabetizacion_porc = tbl_alfabetizacion_porc.sort_values(by=['Time'], ascending=True)

#Insertamos en BD
tbl_alfabetizacion_porc.to_sql('tbl_alfabetizacion_porc',engine, if_exists='replace',index=False)

52