In [20]:
import wbgapi as wb
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

#Definimos la lista con los países miembros de la OEA
paises = ['ATG','ARG','BRB','BLZ','BOL','BRA','CAN','CHL','COL','CRI','CUB','DMA','DOM','ECU','SLV','GRD','GTM','GUY','HTI','HND','JAM','MEX','NIC','PAN','PRY','PER','KNA','LCA','VCT','SUR','BHS','TTO','USA','URY','VEN'] 


conn = psycopg2.connect(
    user = "postgres",
    password = "admin",
    host = "localhost",
    port = 5432,
    database = "esperanza"
)

conn.autocommit = True


#conn_string = 'postgresql+psycopg2://postgres:admin@localhost/esperanza'
#engine = create_engine(conn_string)

In [21]:
def execute_many(conn, df, table):
    # Creamos una lista de tuplas del df
    tuples = [tuple(x) for x in df.to_numpy()]

    # Columnas del df separadas por comas
    cols = ','.join(list(df.columns))

    # Query a ejecutar
    query = "INSERT INTO %s(%s) VALUES(%%s,%%s)" % (table, cols)
    cursor = conn.cursor()
    try:
        cursor.executemany(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_many() done")
    cursor.close()

## tbl_paises

In [22]:
#Se crea la tabla
q_tbl_paises = """
DROP TABLE IF EXISTS public.tbl_paises;

CREATE TABLE IF NOT EXISTS public.tbl_paises
(
    id_pais text,
    pais text
)
"""
cursor = conn.cursor()
cursor.execute(q_tbl_paises)
#conn.close()

In [25]:
#Extraemos listado de paises de wb
tbl_paises = wb.economy.DataFrame()
tbl_paises.reset_index(inplace=True)
tbl_paises = tbl_paises[['id','name']]
tbl_paises.reset_index(inplace=True,drop=True)
tbl_paises.columns=['id_pais','pais']
tbl_paises

    id_pais                         pais
0       ABW                        Aruba
1       AFE  Africa Eastern and Southern
2       AFG                  Afghanistan
3       AFW   Africa Western and Central
4       AGO                       Angola
..      ...                          ...
261     XKX                       Kosovo
262     YEM                  Yemen, Rep.
263     ZAF                 South Africa
264     ZMB                       Zambia
265     ZWE                     Zimbabwe

[266 rows x 2 columns]

In [24]:
#Insertamos en BD
execute_many(conn, tbl_paises, 'tbl_paises')

Error: not all arguments converted during string formatting

1

In [ ]:
#Insertamos en BD
tbl_paises.to_sql('tbl_paises',engine, if_exists='replace',index=False)

## tbl_esperanza_vida

In [76]:
tbl_esperanza_vida = pd.read_csv('Datasets/EsperanzaNacionesUnidas.csv')

tbl_esperanza_vida = tbl_esperanza_vida[['Time','Iso3','Value']]
tbl_esperanza_vida.columns = ['Year', 'id_pais', 'edvan']
tbl_esperanza_vida = tbl_esperanza_vida[tbl_esperanza_vida['id_pais'].isin(paises)]
tbl_esperanza_vida.reset_index(inplace=True,drop=True)

#Insertamos en BD
tbl_esperanza_vida.to_sql('tbl_esperanza_vida',engine, if_exists='replace',index=False)

555

## tbl_poblacion

In [84]:
tbl_poblacion = wb.data.DataFrame('SP.POP.TOTL',paises, range(1970, 2023), 
                  index='time', numericTimeKeys=True, labels=True)
tbl_poblacion = tbl_poblacion.sort_values(by=['Time'], ascending=True)

#Insertamos en BD
tbl_poblacion.to_sql('tbl_poblacion',engine, if_exists='replace',index=False)

52

## tbl_alfabetizacion_porc

In [86]:
tbl_alfabetizacion_porc = wb.data.DataFrame('SE.ADT.LITR.ZS',paises, range(1970, 2023), 
                  index='time', numericTimeKeys=True, labels=True)
tbl_alfabetizacion_porc = tbl_alfabetizacion_porc.sort_values(by=['Time'], ascending=True)

#Insertamos en BD
tbl_alfabetizacion_porc.to_sql('tbl_alfabetizacion_porc',engine, if_exists='replace',index=False)

52