Inversion en Educaci√≥n<br>
extraido WDB - "SE.XPD.TOTL.GD.ZS" - DB=2

In [1]:
#importo librerias
import wbgapi as wb
import pandas as pd

In [2]:
#Filtro por pais del Continente Americano
paises = ['ATG','ARG','BRB','BLZ','BOL','BRA','CAN','CHL','COL','CRI','CUB','DMA','DOM','ECU','SLV','GRD','GTM','GUY','HTI','HND','JAM','MEX','NIC','PAN','PRY','PER','KNA','LCA','VCT','SUR','BHS','TTO','USA','URY','VEN']

In [3]:
#CREACION DE DATAFRAME
tbl_inversion_educacion = pd.read_csv('Extraccion/tbl_inversion_educacion.csv')

In [4]:
tbl_inversion_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pais               735 non-null    object
 1   year                  735 non-null    int64
 2    inversion_educacion  468 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 17.4+ KB

In [5]:
#CONTAMOS VALORES NULOS
tbl_inversion_educacion.isnull().sum()

id_pais                   0
year                      0
 inversion_educacion    267
dtype: int64

HaY 267 datos faltantes<br>
Vamos a identificarlos

In [7]:
#Vemos que paises tienen TODOS sus datos faltantes
print("Paises con TODOS datos nulos")
paises_nulos=[]
for i in paises:
    mask = tbl_inversion_educacion["id_pais"] == i
    df_filtrada = tbl_inversion_educacion[mask]
    a = df_filtrada.iloc[:,2].isnull().sum()
    if a == 21:
        paises_nulos.append(i)
print(paises_nulos)

Paises con TODOS datos nulos
[]

In [9]:
#Vemos que paises tienen datos faltantes
print("Paises con datos nulos")
paises_nulos=[]
for i in paises:
    mask = tbl_inversion_educacion["id_pais"] == i
    df_filtrada = tbl_inversion_educacion[mask]
    a = df_filtrada.iloc[:,2].isnull().sum()
    if a > 0:
        paises_nulos.append(i)
print(paises_nulos)

Paises con datos nulos
['ATG', 'ARG', 'BRB', 'BLZ', 'BOL', 'BRA', 'CAN', 'CHL', 'CRI', 'CUB', 'DMA', 'DOM', 'ECU', 'SLV', 'GRD', 'GTM', 'GUY', 'HTI', 'HND', 'JAM', 'MEX', 'NIC', 'PAN', 'PRY', 'KNA', 'LCA', 'VCT', 'SUR', 'BHS', 'TTO', 'USA', 'URY', 'VEN']

In [10]:
#Cargamos la tabla con otro formato para tener una mejor visulizacion
wb.db= 2
tbl_inversion_educacion2 = wb.data.DataFrame('SH.MED.BEDS.ZS', paises, time=range(2000, 2021), labels=True, columns="economy").reset_index()
#tbl_camas_hospitales.drop(["time","Country"], axis=1, inplace=True)
#tbl_camas_hospitales.columns=["Pais_ID","Year","Camas"]
tbl_inversion_educacion2

,time,Time,ARG,ATG,BHS,BLZ,BOL,BRA,BRB,CAN,...,PAN,PER,PRY,SLV,SUR,TTO,URY,USA,VCT,VEN
0,YR2020,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YR2019,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YR2018,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YR2017,2017,4.99,2.89,2.96,1.04,1.29,2.09,5.97,2.53,...,NaN,1.59,NaN,1.20,3.00,3.02,2.43,2.87,NaN,0.87
4,YR2016,2016,4.95,3.01,NaN,1.22,1.27,2.11,5.89,2.60,...,2.25,1.59,0.83,1.06,NaN,3.03,2.48,2.77,4.32,0.86
5,YR2015,2015,4.96,3.61,2.83,NaN,1.13,2.15,5.90,2.62,...,2.29,1.55,0.78,1.02,3.05,3.01,2.43,2.80,4.33,0.73
6,YR2014,2014,4.84,3.55,2.76,1.27,1.15,2.22,5.93,2.67,...,2.24,1.56,0.83,1.35,NaN,2.99,2.42,2.83,2.40,0.78
7,YR2013,2013,4.78,3.60,2.85,0.89,1.12,2.25,6.34,2.72,...,2.30,1.51,NaN,1.07,NaN,2.70,2.49,2.89,2.41,NaN
8,YR2012,2012,4.59,NaN,2.86,1.08,1.10,2.27,6.34,2.79,...,2.33,1.52,NaN,1.07,NaN,2.72,2.50,2.93,2.41,NaN
9,YR2011,2011,4.39,1.93,2.90,1.09,1.07,2.31,NaN,2.80,...,2.27,1.53,1.36,1.03,NaN,NaN,2.98,2.97,2.52,0.93
10,YR2010,2010,4.50,2.20,2.92,1.20,NaN,2.37,6.76,2.78,...,2.30,1.50,1.30,1.00,3.10,2.14,1.20,3.05,2.60,NaN
11,YR2009,2009,NaN,2.20,3.20,1.10,1.10,2.43,6.80,2.80,...,2.30,1.60,1.30,1.10,2.60,2.60,NaN,3.08,NaN,1.10
12,YR2008,2008,NaN,1.70,3.20,1.20,1.10,2.44,7.60,2.85,...,2.30,1.50,1.30,0.80,NaN,2.50,NaN,3.13,NaN,NaN
13,YR2007,2007,NaN,2.00,3.20,1.20,1.10,2.47,NaN,2.96,...,2.30,1.20,1.30,0.70,3.10,2.70,2.90,3.14,3.00,1.30
14,YR2006,2006,NaN,2.40,3.20,1.30,1.10,2.48,6.60,3.02,...,2.30,NaN,1.30,0.90,3.30,2.70,2.90,3.18,NaN,NaN
15,YR2005,2005,4.00,2.40,NaN,1.20,NaN,2.52,6.70,3.10,...,2.20,NaN,1.20,0.90,NaN,2.60,2.40,3.20,4.50,NaN
16,YR2004,2004,NaN,2.40,3.40,1.30,1.00,NaN,7.30,3.44,...,2.40,0.90,NaN,NaN,3.10,NaN,NaN,3.26,4.50,NaN
17,YR2003,2003,NaN,2.50,3.40,1.30,1.00,2.42,7.30,3.50,...,NaN,1.40,NaN,NaN,NaN,3.30,1.90,3.33,4.50,0.90
18,YR2002,2002,NaN,2.30,3.40,NaN,NaN,2.59,NaN,3.64,...,2.50,NaN,1.20,NaN,NaN,NaN,NaN,3.39,4.50,NaN
19,YR2001,2001,NaN,2.60,3.40,NaN,NaN,2.78,NaN,3.69,...,NaN,NaN,NaN,NaN,3.60,3.40,NaN,3.47,4.70,0.80
20,YR2000,2000,4.10,NaN,3.50,1.90,NaN,2.82,NaN,3.77,...,NaN,NaN,NaN,NaN,3.90,3.30,NaN,3.49,NaN,NaN

INTERPOLAREMOS LOS DATOS FALTANTES

In [12]:
#Todos los paises tienen datos nulos. Vamos a interpolar en ambas direcciones
for i in paises:
    temp = tbl_inversion_educacion[tbl_inversion_educacion['id_pais'] == i]
    temp = temp.interpolate(method="linear",limit_direction="both")
    tbl_inversion_educacion[tbl_inversion_educacion['id_pais'] == i] = temp

In [13]:
#CORROBORAMOS VALORES NULOS
tbl_inversion_educacion.isnull().sum()

id_pais                 0
year                    0
 inversion_educacion    0
dtype: int64

In [15]:
#vemos el resultado final
for i in paises:
    print(tbl_inversion_educacion[tbl_inversion_educacion["id_pais"] == i])

tbl_inversion_educacion

    id_pais  year   inversion_educacion
714     ATG  2020              3.453125
715     ATG  2019              2.831335
716     ATG  2018              2.644076
717     ATG  2017              2.448478
718     ATG  2016              2.430804
719     ATG  2015              2.441960
720     ATG  2014              2.453115
721     ATG  2013              2.464270
722     ATG  2012              2.475425
723     ATG  2011              2.486580
724     ATG  2010              2.497735
725     ATG  2009              2.508890
726     ATG  2008              2.635513
727     ATG  2007              2.762136
728     ATG  2006              2.888759
729     ATG  2005              3.015381
730     ATG  2004              3.142004
731     ATG  2003              3.268627
732     ATG  2002              3.395250
733     ATG  2001              3.395250
734     ATG  2000              3.395250
    id_pais  year   inversion_educacion
693     ARG  2020               4.72417
694     ARG  2019               4.72417
695     ARG  2018               4.87774
696     ARG  2017               5.45432
697     ARG  2016               5.54549
698     ARG  2015               5.77611
699     ARG  2014               5.36144
700     ARG  2013               5.43661
701     ARG  2012               5.34583
702     ARG  2011               5.29063
703     ARG  2010               5.01971
704     ARG  2009               5.53105
705     ARG  2008               4.84441
706     ARG  2007               4.46260
707     ARG  2006               4.12821
708     ARG  2005               3.86001
709     ARG  2004               3.48652
710     ARG  2003               3.53505
711     ARG  2002               4.01734
712     ARG  2001               4.83374
713     ARG  2000               4.58031
    id_pais  year   inversion_educacion
672     BRB  2020              3.058170
673     BRB  2019              3.203990
674     BRB  2018              5.428860
675     BRB  2017              4.366380
676     BRB  2016              4.707320
677     BRB  2015              5.382919
678     BRB  2014              6.143500
679     BRB  2013              5.148990
680     BRB  2012              5.262740
681     BRB  2011              5.658570
682     BRB  2010              6.054400
683     BRB  2009              5.116180
684     BRB  2008              4.922600
685     BRB  2007              5.220390
686     BRB  2006              5.445020
687     BRB  2005              5.669650
688     BRB  2004              6.024280
689     BRB  2003              6.245700
690     BRB  2002              5.880620
691     BRB  2001              6.055370
692     BRB  2000              4.715860
    id_pais  year   inversion_educacion
651     BLZ  2020              7.528778
652     BLZ  2019              7.138390
653     BLZ  2018              7.472270
654     BLZ  2017              7.450280
655     BLZ  2016              7.293650
656     BLZ  2015              6.870150
657     BLZ  2014              6.614690
658     BLZ  2013              6.425370
659     BLZ  2012              6.523500
660     BLZ  2011              6.621630
661     BLZ  2010              6.719760
662     BLZ  2009              6.178170
663     BLZ  2008              5.772630
664     BLZ  2007              5.663448
665     BLZ  2006              5.554265
666     BLZ  2005              5.445082
667     BLZ  2004              5.335900
668     BLZ  2003              5.248210
669     BLZ  2002              5.522570
670     BLZ  2001              5.796930
671     BLZ  2000              5.028430
    id_pais  year   inversion_educacion
630     BOL  2020                  8.90
631     BOL  2019                  8.90
632     BOL  2018                  8.90
633     BOL  2017                  8.66
634     BOL  2016                  8.85
635     BOL  2015                  8.94
636     BOL  2014                  8.26
637     BOL  2013                  7.58
638     BOL  2012                  7.90
639     BOL  2011                  7.07
640     BOL  2010                  7.81
641     BOL  2009                  7.81
642     BOL  2008                  7.81
643     BOL  2007                  7.81
644     BOL  2006                  7.81
645     BOL  2005                  7.81
646     BOL  2004                  7.81
647     BOL  2003                  7.81
648     BOL  2002                  7.81
649     BOL  2001                  7.81
650     BOL  2000                  7.81
    id_pais  year   inversion_educacion
609     BRA  2020              6.088510
610     BRA  2019              6.088510
611     BRA  2018              6.088510
612     BRA  2017              6.320480
613     BRA  2016              6.314040
614     BRA  2015              6.241060
615     BRA  2014              5.948480
616     BRA  2013              5.838850
617     BRA  2012              5.855100
618     BRA  2011              5.737410
619     BRA  2010              5.648800
620     BRA  2009              5.463550
621     BRA  2008              5.268840
622     BRA  2007              4.974260
623     BRA  2006              4.870600
624     BRA  2005              4.479080
625     BRA  2004              3.974480
626     BRA  2003              3.862425
627     BRA  2002              3.750370
628     BRA  2001              3.844680
629     BRA  2000              3.948930
    id_pais  year   inversion_educacion
588     CAN  2020              5.262050
589     CAN  2019              5.262050
590     CAN  2018              5.262050
591     CAN  2017              5.262050
592     CAN  2016              5.262050
593     CAN  2015              5.262050
594     CAN  2014              5.262050
595     CAN  2013              5.262050
596     CAN  2012              5.262050
597     CAN  2011              5.262050
598     CAN  2010              5.356370
599     CAN  2009              4.840580
600     CAN  2008              4.626120
601     CAN  2007              4.766410
602     CAN  2006              4.766145
603     CAN  2005              4.765880
604     CAN  2004              4.841613
605     CAN  2003              4.917347
606     CAN  2002              4.993080
607     CAN  2001              4.953030
608     CAN  2000              5.423320
    id_pais  year   inversion_educacion
567     CHL  2020               5.43317
568     CHL  2019               5.43317
569     CHL  2018               5.43317
570     CHL  2017               5.41966
571     CHL  2016               5.34201
572     CHL  2015               4.87531
573     CHL  2014               4.73095
574     CHL  2013               4.52943
575     CHL  2012               4.28731
576     CHL  2011               4.04519
577     CHL  2010               4.16209
578     CHL  2009               4.23065
579     CHL  2008               3.79243
580     CHL  2007               3.21379
581     CHL  2006               3.02153
582     CHL  2005               3.26283
583     CHL  2004               3.53839
584     CHL  2003               3.96346
585     CHL  2002               4.08121
586     CHL  2001               3.92852
587     CHL  2000               3.77583
    id_pais  year   inversion_educacion
546     COL  2020               4.93310
547     COL  2019               4.50622
548     COL  2018               4.44910
549     COL  2017               4.53551
550     COL  2016               4.47721
551     COL  2015               4.47039
552     COL  2014               4.62946
553     COL  2013               4.87855
554     COL  2012               4.37039
555     COL  2011               4.46608
556     COL  2010               4.83383
557     COL  2009               4.77652
558     COL  2008               3.93878
559     COL  2007               4.08301
560     COL  2006               3.91672
561     COL  2005               4.02099
562     COL  2004               4.07935
563     COL  2003               4.32514
564     COL  2002               4.26813
565     COL  2001               3.70868
566     COL  2000               3.51121
    id_pais  year   inversion_educacion
525     CRI  2020              6.710670
526     CRI  2019              6.795850
527     CRI  2018              6.769920
528     CRI  2017              7.069810
529     CRI  2016              6.893960
530     CRI  2015              6.873500
531     CRI  2014              6.679520
532     CRI  2013              6.687400
533     CRI  2012              6.582400
534     CRI  2011              6.379890
535     CRI  2010              6.565740
536     CRI  2009              6.010300
537     CRI  2008              4.886970
538     CRI  2007              4.634510
539     CRI  2006              4.616140
540     CRI  2005              4.753385
541     CRI  2004              4.890630
542     CRI  2003              5.133740
543     CRI  2002              5.150440
544     CRI  2001              4.832030
545     CRI  2000              4.666950
    id_pais  year   inversion_educacion
504     CUB  2020              12.83731
505     CUB  2019              12.83731
506     CUB  2018              12.83731
507     CUB  2017              12.83731
508     CUB  2016              12.83731
509     CUB  2015              12.83731
510     CUB  2014              12.83731
511     CUB  2013              12.83731
512     CUB  2012              12.83731
513     CUB  2011              12.83731
514     CUB  2010              12.83731
515     CUB  2009              13.12486
516     CUB  2008              14.05908
517     CUB  2007              11.86821
518     CUB  2006               9.05717
519     CUB  2005              10.55778
520     CUB  2004              10.26823
521     CUB  2003               9.94086
522     CUB  2002               9.57117
523     CUB  2001               8.35809
524     CUB  2000               7.70481
    id_pais  year   inversion_educacion
483     DMA  2020               4.69630
484     DMA  2019               5.57619
485     DMA  2018               5.57155
486     DMA  2017               4.76675
487     DMA  2016               5.12972
488     DMA  2015               3.40858
489     DMA  2014               3.40858
490     DMA  2013               3.40858
491     DMA  2012               3.40858
492     DMA  2011               3.40858
493     DMA  2010               3.40858
494     DMA  2009               3.40858
495     DMA  2008               3.40858
496     DMA  2007               3.40858
497     DMA  2006               3.40858
498     DMA  2005               3.40858
499     DMA  2004               3.40858
500     DMA  2003               3.40858
501     DMA  2002               3.40858
502     DMA  2001               3.40858
503     DMA  2000               3.40858
    id_pais  year   inversion_educacion
462     DOM  2020              4.618702
463     DOM  2019              4.042770
464     DOM  2018              3.928490
465     DOM  2017              3.920270
466     DOM  2016              3.850500
467     DOM  2015              3.816240
468     DOM  2014              3.963770
469     DOM  2013              3.480540
470     DOM  2012              2.497520
471     DOM  2011              2.407374
472     DOM  2010              2.317228
473     DOM  2009              2.227082
474     DOM  2008              2.136936
475     DOM  2007              2.046790
476     DOM  2006              1.996255
477     DOM  2005              1.945720
478     DOM  2004              1.895185
479     DOM  2003              1.844650
480     DOM  2002              1.914010
481     DOM  2001              1.967830
482     DOM  2000              1.888290
    id_pais  year   inversion_educacion
441     ECU  2020               4.13413
442     ECU  2019               4.22566
443     ECU  2018               4.62146
444     ECU  2017               4.61426
445     ECU  2016               4.36275
446     ECU  2015               4.99870
447     ECU  2014               5.26099
448     ECU  2013               5.00464
449     ECU  2012               4.64307
450     ECU  2011               4.72689
451     ECU  2010               4.50743
452     ECU  2009               4.34242
453     ECU  2008               3.98781
454     ECU  2007               3.63320
455     ECU  2006               3.27859
456     ECU  2005               2.92398
457     ECU  2004               2.56937
458     ECU  2003               2.21476
459     ECU  2002               1.86015
460     ECU  2001               1.50554
461     ECU  2000               1.15093
    id_pais  year   inversion_educacion
420     SLV  2020               3.38516
421     SLV  2019               3.38516
422     SLV  2018               3.60575
423     SLV  2017               3.72523
424     SLV  2016               3.82524
425     SLV  2015               3.90988
426     SLV  2014               3.82416
427     SLV  2013               3.80149
428     SLV  2012               3.71244
429     SLV  2011               3.89854
430     SLV  2010               4.04808
431     SLV  2009               4.65950
432     SLV  2008               4.45811
433     SLV  2007               3.60985
434     SLV  2006               3.49298
435     SLV  2005               3.17785
436     SLV  2004               3.15626
437     SLV  2003               3.13467
438     SLV  2002               3.24284
439     SLV  2001               3.04076
440     SLV  2000               2.83868
    id_pais  year   inversion_educacion
399     GRD  2020              3.552550
400     GRD  2019              3.552550
401     GRD  2018              3.552550
402     GRD  2017              3.173800
403     GRD  2016              3.706205
404     GRD  2015              4.238610
405     GRD  2014              4.212621
406     GRD  2013              4.186631
407     GRD  2012              4.160642
408     GRD  2011              4.134653
409     GRD  2010              4.108664
410     GRD  2009              4.082675
411     GRD  2008              4.056686
412     GRD  2007              4.030697
413     GRD  2006              4.004707
414     GRD  2005              3.978718
415     GRD  2004              3.952729
416     GRD  2003              3.926740
417     GRD  2002              3.926740
418     GRD  2001              3.926740
419     GRD  2000              3.926740
    id_pais  year   inversion_educacion
378     GTM  2020              3.299720
379     GTM  2019              3.199280
380     GTM  2018              3.137050
381     GTM  2017              2.950100
382     GTM  2016              2.944740
383     GTM  2015              3.030330
384     GTM  2014              2.985620
385     GTM  2013              2.888090
386     GTM  2012              3.005250
387     GTM  2011              2.968650
388     GTM  2010              2.848650
389     GTM  2009              3.042755
390     GTM  2008              3.236860
391     GTM  2007              3.088090
392     GTM  2006              3.032850
393     GTM  2005              3.032850
394     GTM  2004              3.032850
395     GTM  2003              3.032850
396     GTM  2002              3.032850
397     GTM  2001              3.032850
398     GTM  2000              3.032850
    id_pais  year   inversion_educacion
357     GUY  2020              4.450580
358     GUY  2019              4.450580
359     GUY  2018              4.450580
360     GUY  2017              4.664780
361     GUY  2016              4.737750
362     GUY  2015              3.895700
363     GUY  2014              4.360330
364     GUY  2013              3.300825
365     GUY  2012              2.241320
366     GUY  2011              2.506690
367     GUY  2010              2.409390
368     GUY  2009              2.150580
369     GUY  2008              2.270875
370     GUY  2007              2.391170
371     GUY  2006              3.118910
372     GUY  2005              8.139730
373     GUY  2004              5.512940
374     GUY  2003              6.955900
375     GUY  2002              8.365540
376     GUY  2001              8.397300
377     GUY  2000              8.484150
    id_pais  year   inversion_educacion
336     HTI  2020               1.63207
337     HTI  2019               1.63207
338     HTI  2018               1.63207
339     HTI  2017               1.50423
340     HTI  2016               1.39586
341     HTI  2015               1.85704
342     HTI  2014               1.75315
343     HTI  2013               1.75315
344     HTI  2012               1.75315
345     HTI  2011               1.75315
346     HTI  2010               1.75315
347     HTI  2009               1.75315
348     HTI  2008               1.75315
349     HTI  2007               1.75315
350     HTI  2006               1.75315
351     HTI  2005               1.75315
352     HTI  2004               1.75315
353     HTI  2003               1.75315
354     HTI  2002               1.75315
355     HTI  2001               1.75315
356     HTI  2000               1.75315
    id_pais  year   inversion_educacion
315     HND  2020              6.438439
316     HND  2019              4.912850
317     HND  2018              6.056470
318     HND  2017              4.937020
319     HND  2016              5.159620
320     HND  2015              6.412970
321     HND  2014              7.090120
322     HND  2013              5.874930
323     HND  2012              5.987465
324     HND  2011              6.100000
325     HND  2010              6.800000
326     HND  2009              6.800000
327     HND  2008              6.800000
328     HND  2007              6.800000
329     HND  2006              6.800000
330     HND  2005              6.800000
331     HND  2004              6.800000
332     HND  2003              6.800000
333     HND  2002              6.800000
334     HND  2001              6.800000
335     HND  2000              6.800000
    id_pais  year   inversion_educacion
294     JAM  2020              5.617495
295     JAM  2019              5.163640
296     JAM  2018              5.413810
297     JAM  2017              5.260170
298     JAM  2016              5.314610
299     JAM  2015              5.455210
300     JAM  2014              6.015860
301     JAM  2013              6.251080
302     JAM  2012              6.112460
303     JAM  2011              6.266640
304     JAM  2010              6.370600
305     JAM  2009              6.198480
306     JAM  2008              6.191320
307     JAM  2007              5.490220
308     JAM  2006              5.053320
309     JAM  2005              4.616420
310     JAM  2004              3.912550
311     JAM  2003              4.256850
312     JAM  2002              5.375230
313     JAM  2001              5.381030
314     JAM  2000              4.983470
    id_pais  year   inversion_educacion
273     MEX  2020               4.25422
274     MEX  2019               4.25422
275     MEX  2018               4.25422
276     MEX  2017               4.51822
277     MEX  2016               4.90682
278     MEX  2015               5.22942
279     MEX  2014               5.25747
280     MEX  2013               4.69605
281     MEX  2012               5.10310
282     MEX  2011               5.10565
283     MEX  2010               5.15922
284     MEX  2009               5.18794
285     MEX  2008               4.82007
286     MEX  2007               4.69051
287     MEX  2006               4.69992
288     MEX  2005               4.84569
289     MEX  2004               4.72671
290     MEX  2003               5.07258
291     MEX  2002               4.45496
292     MEX  2001               4.24104
293     MEX  2000               3.99244
    id_pais  year   inversion_educacion
252     NIC  2020              4.630000
253     NIC  2019              4.600000
254     NIC  2018              4.470000
255     NIC  2017              4.357700
256     NIC  2016              4.081140
257     NIC  2015              4.078430
258     NIC  2014              4.083290
259     NIC  2013              4.183528
260     NIC  2012              4.283765
261     NIC  2011              4.384003
262     NIC  2010              4.484240
263     NIC  2009              4.189636
264     NIC  2008              3.895031
265     NIC  2007              3.600427
266     NIC  2006              3.305823

    id_pais  year   inversion_educacion
0       VEN  2020              1.344080
1       VEN  2019              1.344080
2       VEN  2018              1.344080
3       VEN  2017              1.344080
4       VEN  2016              1.190230
..      ...   ...                   ...
730     ATG  2004              3.142004
731     ATG  2003              3.268627
732     ATG  2002              3.395250
733     ATG  2001              3.395250
734     ATG  2000              3.395250

[735 rows x 3 columns]