In [69]:
import pandas as pd
df = pd.read_csv('Datasets/Mean-Years-Schooling.csv', sep=';')

In [71]:
df = pd.read_csv('Datasets/Mean-Years-Schooling.csv', sep=';')
df.drop(columns=['Country'], inplace=True)
df.head()

,ISO_Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ATG,7.0,8.9,9.0,9.0,9.1,9.1,9.1,9.2,9.2,...,9.2,9.0,9.0,9.1,9.1,9.2,9.2,9.3,9.3,9.3
1,ARG,8.9,9.1,9.1,9.2,9.3,9.2,9.1,10.3,10.3,...,10.3,10.3,10.4,10.4,10.4,10.4,10.5,10.6,10.6,10.9
2,BHS,10.9,10.9,10.9,10.9,10.9,10.9,10.9,11.1,11.2,...,11.5,11.5,11.4,11.3,11.2,11.3,11.4,11.4,11.4,11.4
3,BRB,8.7,9.0,9.0,9.1,9.1,9.2,9.2,9.2,9.3,...,9.4,9.9,10.5,10.5,10.5,10.5,10.6,10.6,10.6,10.6
4,BLZ,6.9,7.1,7.2,7.3,7.4,7.5,7.6,7.9,8.1,...,9.5,9.1,9.2,9.3,9.4,9.5,9.7,9.8,9.8,9.9

ActiveSqlTransaction: DROP DATABASE cannot run inside a transaction block

In [81]:
df = pd.read_csv('Datasets/Mean-Years-Schooling.csv', sep=';')
df.drop(columns=['Country'], inplace=True)
df_unpivot = pd.melt(df, id_vars='ISO_Code', value_vars= df.columns[1:])
df_unpivot.columns = ['id_pais','year','anios_escolares']
df_unpivot.sort_values(by='year')
df_unpivot.to_csv('Limpiados/tbl_anios_medios_escolaridad.csv')

In [65]:
import pandas as pd
paises = ['ATG','ARG','BRB','BLZ','BOL','BRA','CAN','CHL','COL','CRI','CUB','DMA','DOM','ECU','SLV','GRD','GTM','GUY','HTI','HND','JAM','MEX','NIC','PAN','PRY','PER','KNA','LCA','VCT','SUR','BHS','TTO','USA','URY','VEN'] 
from sklearn.linear_model import LinearRegression
co2 = pd.read_csv('Extraccion/tbl_emisiones_co2.csv')
for pais in paises:
    lr = LinearRegression()
    temp = co2[co2['id_pais']==pais]
    temp_na = temp[temp['emisiones_co2'].isna()]
    temp_x_train = temp.dropna()
    temp_x_train = temp_x_train['year']
    temp_y_train = temp.dropna()
    temp_y_train = temp_y_train['emisiones_co2']
    lr.fit(pd.DataFrame(temp_x_train),temp_y_train)
    pred = float(lr.predict(pd.DataFrame(temp_na['year'])))
    temp = temp.fillna(pred)
    co2[co2['id_pais']==pais] = temp

In [ ]:
"""
pred = pd.DataFrame(pred)
temp.fillna(pred, inplace=True)
co2[co2['id_pais']==pais] = temp
print(temp)

"""

In [47]:
for pais in paises:
    lr = LinearRegression()
    temp = co2[co2['id_pais']==pais]
    temp_na = temp[temp['emisiones_co2'].isna()]
    temp_x_train = temp.dropna()
    temp_x_train = temp_x_train['year']
    temp_y_train = temp.dropna()
    temp_y_train = temp_y_train['emisiones_co2']
    lr.fit(pd.DataFrame(temp_x_train),temp_y_train)
    pred = lr.predict(pd.DataFrame(temp_na['year']))
    pred = pd.DataFrame(pred)
    temp.fillna(pred, inplace=True)
    co2[co2['id_pais']==pais] = temp
    print(temp)

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

    id_pais  year  emisiones_co2
714     ATG  2020            NaN
715     ATG  2019       5.354476
716     ATG  2018       5.296940
717     ATG  2017       5.239717
718     ATG  2016       5.289886
719     ATG  2015       5.236665
720     ATG  2014       5.185713
721     ATG  2013       5.136051
722     ATG  2012       7.742763
723     ATG  2011       6.050420
724     ATG  2010       5.566284
725     ATG  2009      16.024348
726     ATG  2008       5.621004
727     ATG  2007       5.474301
728     ATG  2006       5.319470
729     ATG  2005       5.033021
730     ATG  2004       4.978406
731     ATG  2003       5.169522
732     ATG  2002       4.980970
733     ATG  2001       4.532974
734     ATG  2000       4.341705
    id_pais  year  emisiones_co2
693     ARG  2020            NaN
694     ARG  2019       3.740650
695     ARG  2018       3.975772
696     ARG  2017       4.071308
697     ARG  2016       4.201846
698     ARG  2015       4.301914
699     ARG  2014       4.209096
700     ARG  2013       4.342115
701     ARG  2012       4.264224
702     ARG  2011       4.280989
703     ARG  2010       4.099690
704     ARG  2009       3.867570
705     ARG  2008       4.172389
706     ARG  2007       4.102630
707     ARG  2006       3.942491
708     ARG  2005       3.753639
709     ARG  2004       3.672974
710     ARG  2003       3.351724
711     ARG  2002       3.117425
712     ARG  2001       3.360371
713     ARG  2000       3.587392
    id_pais  year  emisiones_co2
672     BRB  2020            NaN
673     BRB  2019       4.355082
674     BRB  2018       4.325984
675     BRB  2017       4.122573
676     BRB  2016       4.513677
677     BRB  2015       4.451033
678     BRB  2014       4.458878
679     BRB  2013       5.065179
680     BRB  2012       7.472735
681     BRB  2011       6.219367
682     BRB  2010       5.493902
683     BRB  2009      16.435023
684     BRB  2008       6.358369
685     BRB  2007       5.310351
686     BRB  2006       5.297775
687     BRB  2005       5.138969
688     BRB  2004       4.940371
689     BRB  2003       5.030419
690     BRB  2002       5.010551
691     BRB  2001       4.807445
692     BRB  2000       4.567034
    id_pais  year  emisiones_co2
651     BLZ  2020            NaN
652     BLZ  2019       1.639550
653     BLZ  2018       1.644604
654     BLZ  2017       1.703147
655     BLZ  2016       1.764391
656     BLZ  2015       1.884043
657     BLZ  2014       1.358365
658     BLZ  2013       1.330607
659     BLZ  2012       1.982243
660     BLZ  2011       2.028852
661     BLZ  2010       1.736623
662     BLZ  2009       4.640003
663     BLZ  2008       1.629609
664     BLZ  2007       1.772391
665     BLZ  2006       1.750544
666     BLZ  2005       1.656108
667     BLZ  2004       1.591228
668     BLZ  2003       1.892899
669     BLZ  2002       1.981805
670     BLZ  2001       2.077877
671     BLZ  2000       1.819579
    id_pais  year  emisiones_co2
630     BOL  2020            NaN
631     BOL  2019       1.940398
632     BOL  2018       2.046130
633     BOL  2017       2.032547
634     BOL  2016       1.995137
635     BOL  2015       1.909891
636     BOL  2014       1.906316
637     BOL  2013       1.777588
638     BOL  2012       1.678603
639     BOL  2011       1.626366
640     BOL  2010       1.509663
641     BOL  2009       1.416317
642     BOL  2008       1.348563
643     BOL  2007       1.263805
644     BOL  2006       1.195259
645     BOL  2005       1.088569
646     BOL  2004       1.046417
647     BOL  2003       1.019558
648     BOL  2002       0.949350
649     BOL  2001       0.938202
650     BOL  2000       0.975260
    id_pais  year  emisiones_co2
609     BRA  2020            NaN
610     BRA  2019       2.057811
611     BRA  2018       2.071855
612     BRA  2017       2.196418
613     BRA  2016       2.168575
614     BRA  2015       2.373629
615     BRA  2014       2.523232
616     BRA  2013       2.421657
617     BRA  2012       2.279272
618     BRA  2011       2.117869
619     BRA  2010       2.033226
620     BRA  2009       1.805180
621     BRA  2008       1.945682
622     BRA  2007       1.854306
623     BRA  2006       1.783625
624     BRA  2005       1.782062
625     BRA  2004       1.785372
626     BRA  2003       1.709539
627     BRA  2002       1.769881
628     BRA  2001       1.802410
629     BRA  2000       1.794550
    id_pais  year  emisiones_co2
588     CAN  2020            NaN
589     CAN  2019      15.430613
590     CAN  2018      15.650579
591     CAN  2017      15.544571
592     CAN  2016      15.420602
593     CAN  2015      15.648586
594     CAN  2014      15.849905
595     CAN  2013      15.838460
596     CAN  2012      15.734474
597     CAN  2011      15.995944
598     CAN  2010      15.792141
599     CAN  2009      15.502145
600     CAN  2008      16.556923
601     CAN  2007      17.380570
602     CAN  2006      16.595350
603     CAN  2005      17.027485
604     CAN  2004      16.794270
605     CAN  2003      17.208302
606     CAN  2002      16.720301
607     CAN  2001      16.331569
608     CAN  2000      16.757626

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

    id_pais  year  emisiones_co2
567     CHL  2020            NaN
568     CHL  2019       4.821118
569     CHL  2018       4.624338
570     CHL  2017       4.714020
571     CHL  2016       4.749830
572     CHL  2015       4.576124
573     CHL  2014       4.311061
574     CHL  2013       4.723555
575     CHL  2012       4.506229
576     CHL  2011       4.437266
577     CHL  2010       4.087905
578     CHL  2009       3.875950
579     CHL  2008       4.069246
580     CHL  2007       3.906184
581     CHL  2006       3.494450
582     CHL  2005       3.458629
583     CHL  2004       3.432413
584     CHL  2003       3.167263
585     CHL  2002       3.131772
586     CHL  2001       3.121272
587     CHL  2000       3.286328
    id_pais  year  emisiones_co2
546     COL  2020            NaN
547     COL  2019       1.609871
548     COL  2018       1.582528
549     COL  2017       1.533229
550     COL  2016       1.716241
551     COL  2015       1.688318
552     COL  2014       1.686265
553     COL  2013       1.653063
554     COL  2012       1.512727
555     COL  2011       1.513269
556     COL  2010       1.405489
557     COL  2009       1.385697
558     COL  2008       1.350809
559     COL  2007       1.353072
560     COL  2006       1.335389
561     COL  2005       1.351537
562     COL  2004       1.333541
563     COL  2003       1.352574
564     COL  2002       1.388856
565     COL  2001       1.464131
566     COL  2000       1.472118
    id_pais  year  emisiones_co2
525     CRI  2020            NaN
526     CRI  2019       1.632472
527     CRI  2018       1.674186
528     CRI  2017       1.668702
529     CRI  2016       1.649203
530     CRI  2015       1.555343
531     CRI  2014       1.632818
532     CRI  2013       1.640620
533     CRI  2012       1.589163
534     CRI  2011       1.603683
535     CRI  2010       1.553293
536     CRI  2009       1.592660
537     CRI  2008       1.684919
538     CRI  2007       1.725459
539     CRI  2006       1.509635
540     CRI  2005       1.463072
541     CRI  2004       1.405865
542     CRI  2003       1.392874
543     CRI  2002       1.346039
544     CRI  2001       1.343555
545     CRI  2000       1.249253
    id_pais  year  emisiones_co2
504     CUB  2020            NaN
505     CUB  2019       2.286146
506     CUB  2018       2.355764
507     CUB  2017       2.314085
508     CUB  2016       2.396978
509     CUB  2015       2.579300
510     CUB  2014       2.360504
511     CUB  2013       2.558780
512     CUB  2012       2.548611
513     CUB  2011       2.455354
514     CUB  2010       2.504046
515     CUB  2009       2.403197
516     CUB  2008       2.380534
517     CUB  2007       2.460200
518     CUB  2006       2.378068
519     CUB  2005       2.337149
520     CUB  2004       2.254148
521     CUB  2003       2.282445
522     CUB  2002       2.358999
523     CUB  2001       2.460439
524     CUB  2000       2.547989
    id_pais  year  emisiones_co2
483     DMA  2020            NaN
484     DMA  2019       2.367424
485     DMA  2018       2.373440
486     DMA  2017       2.378953
487     DMA  2016       2.524296
488     DMA  2015       2.528978
489     DMA  2014       2.531966
490     DMA  2013       2.393726
491     DMA  2012       3.523410
492     DMA  2011       2.538358
493     DMA  2010       2.539611
494     DMA  2009       7.057362
495     DMA  2008       2.541332
496     DMA  2007       2.542481
497     DMA  2006       2.403914
498     DMA  2005       2.266931
499     DMA  2004       2.273147
500     DMA  2003       1.997090
501     DMA  2002       1.718213
502     DMA  2001       2.152976
503     DMA  2000       1.866475
    id_pais  year  emisiones_co2
462     DOM  2020            NaN
463     DOM  2019       2.535628
464     DOM  2018       2.381636
465     DOM  2017       2.240060
466     DOM  2016       2.364937
467     DOM  2015       2.294373
468     DOM  2014       2.110144
469     DOM  2013       2.118782
470     DOM  2012       2.183082
471     DOM  2011       2.130799
472     DOM  2010       2.133033
473     DOM  2009       2.052891
474     DOM  2008       2.175918
475     DOM  2007       2.209050
476     DOM  2006       2.209644
477     DOM  2005       2.054464
478     DOM  2004       1.925468
479     DOM  2003       2.116308
480     DOM  2002       2.393130
481     DOM  2001       2.207336
482     DOM  2000       2.203908

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

    id_pais  year  emisiones_co2
441     ECU  2020            NaN
442     ECU  2019       2.261470
443     ECU  2018       2.349517
444     ECU  2017       2.296645
445     ECU  2016       2.414027
446     ECU  2015       2.561062
447     ECU  2014       2.620389
448     ECU  2013       2.527459
449     ECU  2012       2.396909
450     ECU  2011       2.433763
451     ECU  2010       2.481495
452     ECU  2009       2.335118
453     ECU  2008       2.180144
454     ECU  2007       2.143174
455     ECU  2006       2.143053
456     ECU  2005       2.041106
457     ECU  2004       1.925511
458     ECU  2003       1.844472
459     ECU  2002       1.838937
460     ECU  2001       1.877711
461     ECU  2000       1.738805
    id_pais  year  emisiones_co2
420     SLV  2020            NaN
421     SLV  2019       1.208637
422     SLV  2018       1.060625
423     SLV  2017       0.998728
424     SLV  2016       1.128044
425     SLV  2015       1.106698
426     SLV  2014       1.046842
427     SLV  2013       1.030948
428     SLV  2012       1.085297
429     SLV  2011       1.091688
430     SLV  2010       1.057589
431     SLV  2009       1.084824
432     SLV  2008       1.126918
433     SLV  2007       1.249629
434     SLV  2006       1.190908
435     SLV  2005       1.130182
436     SLV  2004       1.108934
437     SLV  2003       1.086073
438     SLV  2002       0.996287
439     SLV  2001       0.990383
440     SLV  2000       0.956193
    id_pais  year  emisiones_co2
399     GRD  2020            NaN
400     GRD  2019       2.946376
401     GRD  2018       2.871268
402     GRD  2017       2.615582
403     GRD  2016       2.539383
404     GRD  2015       2.463436
405     GRD  2014       2.295684
406     GRD  2013       2.958252
407     GRD  2012       3.815657
408     GRD  2011       2.903002
409     GRD  2010       2.730003
410     GRD  2009       7.656895
411     GRD  2008       2.749936
412     GRD  2007       2.662027
413     GRD  2006       2.477653
414     GRD  2005       2.388733
415     GRD  2004       2.204205
416     GRD  2003       2.403777
417     GRD  2002       2.315798
418     GRD  2001       2.227776
419     GRD  2000       2.042067
    id_pais  year  emisiones_co2
378     GTM  2020            NaN
379     GTM  2019       1.162971
380     GTM  2018       1.120698
381     GTM  2017       1.029997
382     GTM  2016       1.105025
383     GTM  2015       1.049628
384     GTM  2014       0.911388
385     GTM  2013       0.864133
386     GTM  2012       0.821949
387     GTM  2011       0.808456
388     GTM  2010       0.802262
389     GTM  2009       0.846417
390     GTM  2008       0.818091
391     GTM  2007       0.920827
392     GTM  2006       0.871847
393     GTM  2005       0.890465
394     GTM  2004       0.847651
395     GTM  2003       0.848950
396     GTM  2002       0.861904
397     GTM  2001       0.826344
398     GTM  2000       0.812786
    id_pais  year  emisiones_co2
357     GUY  2020            NaN
358     GUY  2019       3.640893
359     GUY  2018       3.324745
360     GUY  2017       3.186201
361     GUY  2016       3.215088
362     GUY  2015       2.710334
363     GUY  2014       2.698557
364     GUY  2013       2.607730
365     GUY  2012       2.647646
366     GUY  2011       2.433417
367     GUY  2010       2.348451
368     GUY  2009       2.179966
369     GUY  2008       2.142432
370     GUY  2007       2.156798
371     GUY  2006       1.782042
372     GUY  2005       1.983499
373     GUY  2004       2.239395
374     GUY  2003       2.174082
375     GUY  2002       2.175113
376     GUY  2001       2.200734
377     GUY  2000       2.223061

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

    id_pais  year  emisiones_co2
336     HTI  2020            NaN
337     HTI  2019       0.294768
338     HTI  2018       0.295779
339     HTI  2017       0.303213
340     HTI  2016       0.309964
341     HTI  2015       0.306670
342     HTI  2014       0.286283
343     HTI  2013       0.254791
344     HTI  2012       0.236076
345     HTI  2011       0.267318
346     HTI  2010       0.247253
347     HTI  2009       0.203102
348     HTI  2008       0.210437
349     HTI  2007       0.215895
350     HTI  2006       0.184060
351     HTI  2005       0.184877
352     HTI  2004       0.184590
353     HTI  2003       0.203368
354     HTI  2002       0.209044
355     HTI  2001       0.185856
356     HTI  2000       0.173681
    id_pais  year  emisiones_co2
315     HND  2020            NaN
316     HND  2019       1.048623
317     HND  2018       1.048237
318     HND  2017       0.982075
319     HND  2016       1.021488
320     HND  2015       1.089664
321     HND  2014       1.056325
322     HND  2013       1.064951
323     HND  2012       1.069359
324     HND  2011       1.038833
325     HND  2010       0.983473
326     HND  2009       0.990089
327     HND  2008       1.076312
328     HND  2007       1.093677
329     HND  2006       1.043973
330     HND  2005       0.934444
331     HND  2004       1.038040
332     HND  2003       0.947044
333     HND  2002       0.878881
334     HND  2001       0.859016
335     HND  2000       0.758992
    id_pais  year  emisiones_co2
294     JAM  2020            NaN
295     JAM  2019       2.845730
296     JAM  2018       2.933707
297     JAM  2017       2.471885
298     JAM  2016       2.604738
299     JAM  2015       2.452418
300     JAM  2014       2.500750
301     JAM  2013       2.588580
302     JAM  2012       2.448869
303     JAM  2011       2.664608
304     JAM  2010       2.661482
305     JAM  2009       2.818474
306     JAM  2008       3.458107
307     JAM  2007       4.342126
308     JAM  2006       4.378427
309     JAM  2005       3.854015
310     JAM  2004       3.878875
311     JAM  2003       3.908560
312     JAM  2002       3.806386
313     JAM  2001       3.768638
314     JAM  2000       3.789508
    id_pais  year  emisiones_co2
273     MEX  2020            NaN
274     MEX  2019       3.521600
275     MEX  2018       3.586395
276     MEX  2017       3.779372
277     MEX  2016       3.837647
278     MEX  2015       3.870317
279     MEX  2014       3.840634
280     MEX  2013       4.003630
281     MEX  2012       4.147973
282     MEX  2011       4.134993
283     MEX  2010       4.056955
284     MEX  2009       3.986791
285     MEX  2008       4.146991
286     MEX  2007       4.187212
287     MEX  2006       4.167900
288     MEX  2005       4.077064
289     MEX  2004       3.962113
290     MEX  2003       3.925941
291     MEX  2002       3.796046
292     MEX  2001       3.777039
293     MEX  2000       3.833980
    id_pais  year  emisiones_co2
252     NIC  2020            NaN
253     NIC  2019       0.800550
254     NIC  2018       0.790349
255     NIC  2017       0.858283
256     NIC  2016       0.853430
257     NIC  2015       0.846827
258     NIC  2014       0.774899
259     NIC  2013       0.737324
260     NIC  2012       0.783949
261     NIC  2011       0.808059
262     NIC  2010       0.774374
263     NIC  2009       0.764071
264     NIC  2008       0.794010
265     NIC  2007       0.840777
266     NIC  2006       0.825209
267     NIC  2005       0.797986
268     NIC  2004       0.844373
269     NIC  2003       0.861659
270     NIC  2002       0.777879
271     NIC  2001       0.763794
272     NIC  2000       0.743691
    id_pais  year  emisiones_co2
231     PAN  2020            NaN
232     PAN  2019       3.141455
233     PAN  2018       2.408503
234     PAN  2017       2.466662
235     PAN  2016       2.667775
236     PAN  2015       2.696240
237     PAN  2014       2.758047
238     PAN  2013       2.672439
239     PAN  2012       2.774069
240     PAN  2011       2.695280
241     PAN  2010       2.522860
242     PAN  2009       2.430701
243     PAN  2008       2.076103
244     PAN  2007       2.165811
245     PAN  2006       2.208350
246     PAN  2005       2.137996
247     PAN  2004       1.715934
248     PAN  2003       1.723248
249     PAN  2002       1.717899
250     PAN  2001       2.013179
251     PAN  2000       1.742383

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

    id_pais  year  emisiones_co2
210     PRY  2020            NaN
211     PRY  2019       1.165425
212     PRY  2018       1.217642
213     PRY  2017       1.173720
214     PRY  2016       1.059329
215     PRY  2015       0.952346
216     PRY  2014       0.853092
217     PRY  2013       0.814098
218     PRY  2012       0.806664
219     PRY  2011       0.824126
220     PRY  2010       0.806656
221     PRY  2009       0.741405
222     PRY  2008       0.710375
223     PRY  2007       0.620162
224     PRY  2006       0.667996
225     PRY  2005       0.635292
226     PRY  2004       0.692777
227     PRY  2003       0.699452
228     PRY  2002       0.683302
229     PRY  2001       0.665016
230     PRY  2000       0.661256
    id_pais  year  emisiones_co2
189     PER  2020            NaN
190     PER  2019       1.745592
191     PER  2018       1.706510
192     PER  2017       1.725909
193     PER  2016       1.838580
194     PER  2015       1.790242
195     PER  2014       1.767010
196     PER  2013       1.670922
197     PER  2012       1.630811
198     PER  2011       1.654917
199     PER  2010       1.550244
200     PER  2009       1.429878
201     PER  2008       1.340577
202     PER  2007       1.193306
203     PER  2006       1.097429
204     PER  2005       1.122868
205     PER  2004       1.130891
206     PER  2003       0.992247
207     PER  2002       1.023211
208     PER  2001       0.990325
209     PER  2000       1.082013
    id_pais  year  emisiones_co2
168     KNA  2020            NaN
169     KNA  2019       4.731801
170     KNA  2018       4.767535
171     KNA  2017       4.612191
172     KNA  2016       4.648550
173     KNA  2015       4.687134
174     KNA  2014       4.529699
175     KNA  2013       4.570021
176     KNA  2012       6.816223
177     KNA  2011       5.663201
178     KNA  2010       4.896860
179     KNA  2009      14.403588
180     KNA  2008       5.189090
181     KNA  2007       5.233520
182     KNA  2006       4.859189
183     KNA  2005       4.695637
184     KNA  2004       5.181011
185     KNA  2003       5.027432
186     KNA  2002       5.092101
187     KNA  2001       4.708309
188     KNA  2000       4.310051
    id_pais  year  emisiones_co2
147     LCA  2020            NaN
148     LCA  2019       2.954129
149     LCA  2018       2.913849
150     LCA  2017       2.928905
151     LCA  2016       2.832893
152     LCA  2015       2.791253
153     LCA  2014       2.860235
154     LCA  2013       2.873158
155     LCA  2012       4.245587
156     LCA  2011       3.361095
157     LCA  2010       3.044367
158     LCA  2009       7.954803
159     LCA  2008       2.882167
160     LCA  2007       2.863210
161     LCA  2006       2.902442
162     LCA  2005       2.692647
163     LCA  2004       2.780850
164     LCA  2003       2.803214
165     LCA  2002       2.697752
166     LCA  2001       2.655136
167     LCA  2000       2.488245
    id_pais  year  emisiones_co2
126     VCT  2020            NaN
127     VCT  2019       2.350962
128     VCT  2018       2.268397
129     VCT  2017       2.094222
130     VCT  2016       2.375145
131     VCT  2015       2.290741
132     VCT  2014       2.480068
133     VCT  2013       2.117396
134     VCT  2012       3.319961
135     VCT  2011       2.492730
136     VCT  2010       2.309255
137     VCT  2009       8.218444
138     VCT  2008       2.306252
139     VCT  2007       2.488112
140     VCT  2006       2.301983
141     VCT  2005       2.301665
142     VCT  2004       2.303723
143     VCT  2003       2.123299
144     VCT  2002       2.127758
145     VCT  2001       1.853688
146     VCT  2000       1.484409
    id_pais  year  emisiones_co2
105     SUR  2020            NaN
106     SUR  2019       4.558254
107     SUR  2018       3.836892
108     SUR  2017       4.382113
109     SUR  2016       5.222320
110     SUR  2015       4.864648
111     SUR  2014       4.735413
112     SUR  2013       4.184215
113     SUR  2012       4.508108
114     SUR  2011       3.643654
115     SUR  2010       3.288442
116     SUR  2009       2.771868
117     SUR  2008       2.823318
118     SUR  2007       2.758318
119     SUR  2006       3.027952
120     SUR  2005       3.383648
121     SUR  2004       2.815589
122     SUR  2003       2.520812
123     SUR  2002       2.322553
124     SUR  2001       3.189431
125     SUR  2000       3.142624
    id_pais  year  emisiones_co2
84      BHS  2020            NaN
85      BHS  2019       7.291661
86      BHS  2018       7.260752
87      BHS  2017       5.684363
88      BHS  2016       5.397925
89      BHS  2015       5.905933
90      BHS  2014       6.799325
91      BHS  2013       7.653297
92      BHS  2012       9.763986
93      BHS  2011       7.147168
94      BHS  2010       5.860211
95      BHS  2009      17.648742
96      BHS  2008       6.401304
97      BHS  2007       6.283585
98      BHS  2006       6.343797
99      BHS  2005       6.495345
100     BHS  2004       7.055658
101     BHS  2003       7.600847
102     BHS  2002       7.800895
103     BHS  2001       7.335981
104     BHS  2000       7.482092
   id_pais  year  emisiones_co2
63     TTO  2020            NaN
64     TTO  2019      12.322855
65     TTO  2018      12.792831
66     TTO  2017      13.185845
67     TTO  2016      13.291588
68     TTO  2015      15.565571
69     TTO  2014      16.178083
70     TTO  2013      16.406787
71     TTO  2012      16.002213
72     TTO  2011      16.659432
73     TTO  2010      16.157886
74     TTO  2009      14.414186
75     TTO  2008      15.230717
76     TTO  2007      15.667393
77     TTO  2006      15.400536
78     TTO  2005      13.567328
79     TTO  2004      12.479508
80     TTO  2003      12.036797
81     TTO  2002       9.927890
82     TTO  2001       9.137900
83     TTO  2000       8.049503
   id_pais  year  emisiones_co2
42     USA  2020            NaN
43     USA  2019      14.673411
44     USA  2018      15.222548
45     USA  2017      14.823261
46     USA  2016      15.149885
47     USA  2015      15.560035
48     USA  2014      16.040921
49     USA  2013      16.111184
50     USA  2012      15.789783
51     USA  2011      16.604218
52     USA  2010      17.431738
53     USA  2009      16.808699
54     USA  2008      18.278494
55     USA  2007      19.042914
56     USA  2006      18.945914
57     USA  2005      19.469262
58     USA  2004      19.597631
59     USA  2003      19.506499
60     USA  2002      19.445549
61     USA  2001      20.171531
62     USA  2000      20.469807
   id_pais  year  emisiones_co2
21     URY  2020            NaN
22     URY  2019       1.874785
23     URY  2018       1.896042
24     URY  2017       1.774987
25     URY  2016       1.904128
26     URY  2015       1.946065
27     URY  2014       1.911518
28     URY  2013       2.171453
29     URY  2012       2.521475
30     URY  2011       2.258880
31     URY  2010       1.869452
32     URY  2009       2.289774
33     URY  2008       2.320206
34     URY  2007       1.755832
35     URY  2006       1.903529
36     URY  2005       1.631646
37     URY  2004       1.643843
38     URY  2003       1.350920
39     URY  2002       1.361978
40     URY  2001       1.488511
41     URY  2000       1.644710
   id_pais  year  emisiones_co2
0      VEN  2020            NaN
1      VEN  2019       3.939566
2      VEN  2018       4.574011
3      VEN  2017       4.789392
4      VEN  2016       5.060760
5      VEN  2015       5.422876
6      VEN  2014       5.966121
7      VEN  2013       6.058551
8      VEN  2012       6.169104
9      VEN  2011       5.540041
10     VEN  2010       5.770054
11     VEN  2009       5.443614
12     VEN  2008       5.467902
13     VEN  2007       5.225781
14     VEN  2006       5.494561
15     VEN  2005       5.575724
16     VEN  2004       5.370319
17     VEN  2003       5.313557
18     VEN  2002       5.607479
19     VEN  2001       5.509917
20     VEN  2000       5.436407

E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)
E:\Users\ccook\AppData\Local\Temp\ipykernel_13060\2209385633.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.fillna(pred, inplace=True)

In [34]:
co2_pred = lr.predict(pd.DataFrame(datos_predecir))

In [2]:
# tbl_srv_sanit_bas
"""
VEN, ARG: Hay valores faltantes en inicio de perÃ­odo, los valores van en crecimiento
se aplicarÃ¡ interpolaciÃ³n o bfill

BHS: Solo hay un valor faltante. Se aplicarÃ¡ bfill, ya que se ve que los valores
de los aÃ±os cercanos son iguales

VCT, KNA, GRD, DMA, ATG: Caso similar a BHS. Se aplicarÃ¡ bfill
"""
tbl_srv_sanit_bas = pd.read_csv('Extraccion/tbl_srv_sanit_bas.csv')

In [4]:
for pais in paises:
    temp = tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais]
    if pais == 'VEN':
        temp = temp.interpolate()
        tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais] = temp
    else:
        temp = tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais]
        temp = temp.fillna(method = 'bfill')
        tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais] = temp
tbl_srv_sanit_bas.to_csv('revisar.csv')

"\nfor pais in paises:\n    temp = tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais]\n    temp = temp.fillna(method = 'bfill')\n    tbl_srv_sanit_bas[tbl_srv_sanit_bas['id_pais']==pais] = temp\n"

In [7]:
aire = pd.read_csv('Datasets/contaminacion_aire_who.csv')
aire

ParserError: Error tokenizing data. C error: Expected 1 fields in line 8, saw 2

In [8]:
alfa = pd.read_csv('Extraccion/tbl_alfabetizacion_porc.csv')
alfa.info()
#CONTAMOS VALORES NULOS
alfa.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_pais         735 non-null    object
 1   year            735 non-null    int64
 2   alfabetizacion  200 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 17.4+ KB

id_pais             0
year                0
alfabetizacion    535
dtype: int64

In [11]:
alfa.head()

  id_pais  year  alfabetizacion
0     VEN  2020             NaN
1     VEN  2019             NaN
2     VEN  2018             NaN
3     VEN  2017             NaN
4     VEN  2016        97.12709

In [12]:
print("Paises con TODOS sus datos nulos")
paises_nulos=[]
for i in paises:
    mask = alfa["id_pais"] == i
    df_filtrada = alfa[mask]
    a = df_filtrada.iloc[:,2].isnull().sum()
    if a == 21:
        paises_nulos.append(i)
print(paises_nulos)

Paises con TODOS sus datos nulos
['CAN', 'DMA', 'KNA', 'LCA', 'VCT', 'BHS', 'USA']

In [13]:
"""
Imputaremos un valor para cada uno de ellos, para luego predecir el resto de la tabla<br>
Fuente: https://worldpopulationreview.com/country-rankings/literacy-rate-by-country<br>

CAN = Canada, AÃ±o 2003, Ind. Alfabetizacion: 99.00% <br>
DMA = Dominica, AÃ±o 2003, Ind. Alfabetizacion: 94.00%<br>
KNA = Saint Kitts and Nevis, AÃ±o 2003, Ind. Alfabetizacion: 97.80%<br>
LCA = Santa Lucia, AÃ±o 2003, Ind. Alfabetizacion: 90.10%<br>
VCT = Saint Vincent and the Grenadines, AÃ±o: 2003, Ind. Alfabetizacion: 93.00%<br>
BHS = Bahamas, AÃ±o: 2003, Ind. Alfabetizacion: 95.60%<br>
USA = Estados Unidos, AÃ±o: 2003, Ind. Alfabetizacion: 99.00%
"""
#creamos un dataframe con los valores a cargar
imp=[99.00, 94.00, 97.80, 90.10, 93.00, 95.60, 99.00]
df_carga=pd.DataFrame(list(zip(paises_nulos, imp)), columns= ["id_pais","alfabetizacion"])
df_carga

  id_pais  alfabetizacion
0     CAN            99.0
1     DMA            94.0
2     KNA            97.8
3     LCA            90.1
4     VCT            93.0
5     BHS            95.6
6     USA            99.0

In [16]:
for i in paises_nulos:
    mask1 = (alfa["id_pais"] == i) & (alfa["year"] == "2003")
    mask2 = df_carga["id_pais"] == i
    alfa.loc[mask1, "alfabetizacion"] = df_carga["alfabetizacion"].loc[mask2].values[0]
    print (alfa[mask1])

Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []
Empty DataFrame
Columns: [id_pais, year, alfabetizacion]
Index: []

In [15]:
alfa

    id_pais  year  alfabetizacion
0       VEN  2020             NaN
1       VEN  2019             NaN
2       VEN  2018             NaN
3       VEN  2017             NaN
4       VEN  2016       97.127090
..      ...   ...             ...
730     ATG  2004             NaN
731     ATG  2003             NaN
732     ATG  2002             NaN
733     ATG  2001       98.949997
734     ATG  2000             NaN

[735 rows x 3 columns]